.playerNav__Button{
    width:240px;
    padding:5px;
    border-radius:10px;
    background-color:darkslategrey;
    color:white;
    margin-bottom:0;
    font-family:'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: larger;
    margin: 8px 0;
}