html{
    background: linear-gradient(0deg,  black 50%,blue    );
}
.stage{
    height:100vh;
    display:flex;
    align-items: center;
}
.table{
    width:700px;
    height:300px;
    background-color:darkgreen;
    border-radius:40%;
    border:40px double rgb(59, 28, 6);
    padding:0;

    &-cards{
        position:relative;
        margin:0;
        padding:0;
        
        &-player1{
            position:relative;
            display:flex;
            top:225px;
            left:390px;

        }
        &-player2{
            position:relative;
            display:inline-block;
            top:155px;
            left:225px;
        }
        &-player3{
            position:relative;
            display:flex;
            transform:rotate(17deg);
            top:150px;
            left:70px;
        }
        &-player4{
            position:relative;
            display:flex;
            transform: rotate(-17deg);
            top:-280px;
            left:70px;
        }
        &-player5{
            position:relative;
            display:flex;
            top:-280px;
            left:225px;
        }
        &-player6{
            position:relative;
            display:flex;
            top:-350px;
            left:390px;
        }
        &-player7{
            position:relative;
            display:flex;
            top:-306px;
            left:530px;
            transform:rotate(17deg)
        }
        &-player8{
            position:relative;
            display:flex;
            top:-385px;
            left:530px;
            transform:rotate(-17deg)
        }

    }
}
.card-back{
    width:40px;
    height:70px;
    border-radius: 5px;
    background-color: blue;
}